/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
_ide_helper.php
/public/img/avatars
/public/img/posts
/public/img/actualities
/public/ics
.idea
composer.lock
config/push-notification.php
public/push-notification/
.DS_Store