.reservation > tbody > tr:nth-child(2n+1) > td, .reservation > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(33, 194, 164, 0.46);
}

.reservation > tbody > tr:nth-child(2n) > td, .reservation > tbody > tr:nth-child(2n) > th {
    background-color: rgba(21, 150, 136, 0.45);
}

.today {
    color: red;
}

.reservation-text-out {
    font-size: 15px;
    color: #c25d1f;
}

.text-resa {
    color: #10756a;
}