table th{
	cursor: pointer;
	font-weight: normal;
}

table th.noDrag{
	cursor: auto;
}

.drag_freeze {
	background: #bbb;
	color: #888;
}

.ghost {
	background: #cdfff8;
	position: absolute;
	z-index: 10000;
}

.arrow_down {
	display: block;
	position: absolute;
	z-index: 10000;
	width: 16px;
	height: 16px;
	background: url('../img/arrow-down.png') no-repeat bottom center;
}

.arrow_right {
	display: block;
	position: absolute;
	z-index: 10000;
	width: 16px;
	height: 16px;
	background: url('../img/arrow-right.png') no-repeat center right;
}